@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?vies56");
  src: url("fonts/icomoon.eot?vies56#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?vies56") format("truetype"),
    url("fonts/icomoon.woff?vies56") format("woff"),
    url("fonts/icomoon.svg?vies56#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banknote:before {
  content: "\e900";
}
.icon-certified:before {
  content: "\e904";
}
.icon-paper:before {
  content: "\e918";
}
.icon-people:before {
  content: "\e919";
}
.icon-quote:before {
  content: "\e91a";
  color: #00a6cf;
}

body {
  background-color: #f1f1f1;
  color: #484b4d;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #484b4d;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #00a6cf;
}

img {
  display: block;
  max-width: 100%;
}

.btn-transparente {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.87em;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid #00a6cf;
  padding: 5px 30px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-transparente:hover {
  background-color: #00a6cf;
  color: #000;
  border-color: transparent;
}

.btn {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.87em;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #00a6cf;
  border: none;
  border-bottom: 2px solid #006aa6;
  padding: 7px 50px;
}
.btn:hover {
  background-color: #006aa6;
  border-color: #00a6cf;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}
.header-logo {
  margin: 0 10px;
}
.header-menu ul {
  display: flex;
  flex-wrap: wrap;
}
.header-menu ul a {
  font-size: 1.25em;
  display: block;
  margin: 0 15px;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.header-menu ul a.ativo,
.header-menu ul a:hover {
  border-bottom: 2px solid #00a6cf;
}

@media (max-width: 503px) {
  .header-menu ul {
    margin-top: 10px;
}
}

.slider-bg {
  background: url("../img/bg-header.png") center no-repeat;
  background-size: cover;
  height: 389px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  height: 389px;
}

.texto-slider {
  flex: 0 1 400px;
  margin: 0 10px;
}
.texto-slider h2 {
  font-size: 2.5em;
  color: #fff;
  font-weight: 500;
}
.texto-slider p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  margin: 10px 0 25px 0;
}

@media (max-width: 639px) {
  .slider {
    justify-content: center;
}
}

.index-about-bg {
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
  position: relative;
}

.index-about {
  max-width: 960px;
  margin: 65px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.index-titulo {
  flex: 1 1 960px;
}
.index-about h1,
.index-products h1 {
  text-align: center;
  font-size: 1.87em;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #006aa6;
  margin-bottom: 20px;
}
.index-about h1::after,
.index-products h1::after,
.gallery-texto h1::after,
.team h1::after,
.products h1::after {
  content: "";
  display: block;
  background: url("../img/divisoria-titulo.png") center no-repeat;
  width: 170px;
  height: 16px;
  margin: 2px auto;
}
.index-about-esquerda {
  flex-direction: column;
}
.index-about-direita {
  flex-direction: column;
}
.index-about-frase {
  flex: 1;
  width: 300px;
  min-width: 100px;
  margin: 0 10px 20px 10px;
}
.index-about-frase h3 {
  font-size: 1.25em;
  font-weight: 500;
  color: #006aa6;
}

.index-about-frase h3::before {
  display: inline-block;
  font-size: 22px;
  font-family: "icomoon" !important;
  font-weight: 700;
  margin-right: 13px;
  color: #000;
}

.index-about-esquerda .index-about-frase:nth-of-type(1) h3::before {
  content: "\e919";
}
.index-about-esquerda .index-about-frase:nth-of-type(2) h3::before {
  content: "\e918";
}
.index-about-direita .index-about-frase:nth-of-type(1) h3::before {
  content: "\e904";
}
.index-about-direita .index-about-frase:nth-of-type(2) h3::before {
  content: "\e900";
}

.index-about-frase p {
  font-size: 1em;
  font-weight: 300;
  margin: 10px 0;
}

.index-about-btn .btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.index-about-img {
  background-color: #006aa6;
  height: 220px;
  width: 220px;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px #a9aeb3;
  margin: 0 30px 20px 30px;
}

@media (max-width: 960px) {
  .index-about-img {
    display: none;
  }
}

.index-products {
  max-width: 960px;
  margin: 60px auto;
}

.index-products-conteudo {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 10px;
}

.index-products-img {
  position: relative;
  flex: 0 1 460px;
  margin-right: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-bottom: 2px solid #00a6cf;
}

.products-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.products-hover p::before {
  content: "";
  display: block;
  background: url("../img/divisoria-produto.png") center no-repeat;
  margin: 5px auto;
  width: 288px;
  height: 16px;
}
.products-hover p::after {
  content: "";
  display: block;
  background-color: #fff;
  margin: 10px auto;
  width: 288px;
  height: 2px;
  opacity: 0.5;
}
.products-hover p {
  max-width: 346px;
}
.products-hover span {
  font-weight: bold;
  margin-top: 25px;
  letter-spacing: 0.5px;
}

.index-products-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.index-products-img:hover:after {
  opacity: 1;
}

.index-products-desc {
  position: relative;
  flex: 0 1 460px;
  background: url("../img/quote.svg") right top no-repeat;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px #a9aeb38f;
}

.index-products-desc p {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
}

.index-products .btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 960px) {
  .index-products-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.index-gallery {
  display: flex;
  margin-bottom: 60px;
}
.img-gallery {
  flex: 1 1 260px;
  position: relative;
}
.texto-gallery {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.62em;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 999;
}
.texto-gallery::after {
  content: "";
  display: block;
  width: 117px;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
}
.img-gallery img {
  min-height: 100%;
}
.img-gallery:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.img-gallery:hover:after {
  opacity: 1;
}
.img-gallery:hover .texto-gallery {
  display: flex;
}

.index-clientes-bg {
  background-color: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
  margin-bottom: 90px;
}

.index-clientes {
  max-width: 960px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 10px;
}

.index-desc-clientes {
  max-width: 345px;
}

.index-desc-clientes h1{
  color: #006aa6;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: .50px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 311px;
}

.index-desc-clientes h1 b{
  color: #00a6cf;
  font-weight: bold;
}

.index-desc-clientes p{
  margin: 20px 0;
  font-weight: 300;
  line-height: 20px;
  color: #484B4D;
}

.index-desc-clientes .btn-transparente{
  color: #000;
}

.index-quotes-clientes {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.index-quotes-clientes div{
  display: flex;
  align-items: center;
}

.divisoria-clientes {
  content: '';
  align-self: flex-end;
  background: url("../img/divisoria-clientes.png") center no-repeat;
  width: 296px;
  height: 16px;
  margin: 15px 10px 10px 0;
}

.index-quotes-clientes div img{
  margin-right: 30px;
  align-self: flex-start;
}

.index-quotes-clientes div p{
  font-size: 14px;
  line-height: 20px;
  color: #484B4D;
}

.index-quotes-clientes div cite{
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 830px) {
  .index-clientes {
    padding: 40px 80px;
    margin: 0 auto;
  }
  .index-desc-clientes {
    max-width: none;
    margin: 0 10px 30px 10px;
  }
  .index-desc-clientes h1{
    max-width: none;
  }
  .index-quotes-clientes {
    text-align: start;
    max-width: none;
    margin: 0 10px;
  }
  .index-quotes-clientes div p, .index-quotes-clientes div cite{
    font-size: 16px;
  }
  .divisoria-clientes {
    background: none;
    background-color: #D9E0E6;
    height: 1px;
    width: 74%;
    align-self: flex-end;
    margin: 20px 0;
  }
}

@media (max-width: 550px) {
  .index-clientes {
    padding: 40px;
  }
  .divisoria-clientes {
    width: 68%;
  }
}

@media (max-width: 415px) {
  .index-clientes {
    padding: 20px;
  }
  .divisoria-clientes {
    width: 60%;
  }
  .index-quotes-clientes div p{
    max-height: 160px;
    overflow: auto;
  }
}

.footer-img {
  background: url("../img/imagem-bg-footer.png") center no-repeat;
  background-size: cover;
  height: 211px;
  width: 100%;
}

.footer-img-desc {
  padding: 40px 0;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
}

.footer-img-desc h2{
  font-size: 32px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-img-desc blockquote{
  font-size: 14px;
  line-height: 20px;
  font-weight: lighter;
  max-width: 305px;
  margin: 10px auto 20px auto;
}

.footer-img-desc cite{
  font-weight: 500;
}

.footer-bg {
  background-color: #000;
  color: #FFF;
}

.footer {
  padding: 40px 10px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.footer h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.footer a{
  color: #FFF;
}

.footer a:hover{
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #00a6cf;
  transition: none;
}

.footer-desc p {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  max-width: 280px;
}

.footer-desc small {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
}

.footer-menu {
  margin-right: 100px;
}
.footer-menu h4, .footer-contact h4{
  margin-bottom: 15px;
}

.footer-menu li{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: .50px;
}

.footer-contact ul{
  max-width: 220px;
}
.footer-contact ul li{
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}
.footer-contact strong{
  font-weight: 500;
}

@media (max-width: 707px) {
  .footer {
    justify-content: center;
  }
  .footer-desc p {
    max-width: 400px;
  }
  .footer-right {
    margin-top: 30px;
  }
}
@media (max-width: 427px) {
  .footer-desc p {
    max-width: 300px;
  }
  .footer-menu {
    margin-right: 20px;
  }
}

/* ABOUT */

.slider-about-bg {
  background: url("../img/about/bg-about.png") center no-repeat;
  background-size: cover;
  height: 389px;
}
.slider-about-bg .texto-slider h2{
  text-transform: uppercase;
  margin-bottom: 10px;
}
.history-about-bg {
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
  position: relative;
}
.history-about {
  max-width: 960px;
  margin: 30px auto 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
}
.history-texto {
  flex: 1 1 340px;
}
.history-texto h1{
  font-size: 30px;
  line-height: 24px;
  color: #006aa6;
  text-transform: uppercase;
  letter-spacing: .50px;
  font-weight: bold;
  margin-bottom: 10px;
}
.history-texto p{
  font-size: 16px;
  line-height: 24px;
  color: #484B4D;
  font-weight: 400;
}
.history-timeline {
  flex: 1 1 620px;
  display: flex;
  flex-wrap: wrap;
}
.timeline {
  flex: 1 1 220px;
  padding: 0 20px;
  margin-bottom: 30px;
}
.timeline span{
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #006aa6;
  letter-spacing: .50px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.timeline span::after{
  display: inline-block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #D9E0E6;
  margin-left: 10px;
}
.timeline h2{
  font-size: 18px;
  line-height: 18px;
  letter-spacing: .50px;
  font-weight: 600;
  color: #484B4D;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.timeline p{
  font-size: 14px;
  line-height: 18px;
  color: #484B4D;
  font-weight: 300;
}
@media (max-width: 979px){
  .history-texto{
    margin-bottom: 30px;
  }
  .timeline {
    padding: 0 10px;
  }
}
@media (max-width: 615px){
  .history-about {
    padding: 25px 10px;
  }
}
@media (max-width: 499px){
  .timeline:last-child {
    margin-bottom: 0;
  }
}

.gallery-about {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto 0 auto;
}
.gallery-texto {
  margin: 0 auto;
  text-align: center;
}
.gallery-texto h1{
  font-size: 30px;
  line-height: 24px;
  letter-spacing: .50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #006aa6;
}
.gallery-texto span {
  display: inline-block;
  background-color: #484B4D;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: .50px;
  text-align: center;
  margin: 20px auto 30px auto;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.gallery-texto span.active, .gallery-texto span:hover {
  background-color: #00a6cf;
}
.gallery-fotos{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.gallery-fotos div.foto-topo{
  flex: 1 1 380px;
  max-height: 268px;
}
.gallery-fotos div.foto-bottom{
  flex: 1 1 780px;
}

@media (max-width: 620px) {
  .gallery-texto{
    margin: 0;
    width: 100%;
  }
  .gallery-texto span {
    display: block;
    width: 90%;
    margin: 10px auto;
  }
  .gallery-texto span:last-child {
    margin-bottom: 20px;
  }
}

.team{
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 55px auto;
}
.team h1{
  margin: 0 auto 35px auto;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: .50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #006aa6;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 400px;
  background-color: #fff;
  margin: 0 10px 20px 10px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
}

.card img{
  border-bottom: 6px solid #00a6cf;
  border-radius: 50%;
}

.card .texto-cards {
  flex: 1 1 175px;
  margin-left: 22px;
}
.card .texto-cards h2{
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: .50px;
}
.card .texto-cards h3{
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}
.card .texto-cards p{
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

@media (max-width: 560px) {
  .team{
    margin: 0 auto 25px auto;
  }
  .team h1{
    margin: 0 auto 15px auto;
  }
}

/* Página de produtos */

.slider-products-bg {
  background: url("../img/products/bg-product.png") center no-repeat;
  background-size: cover;
  height: 389px;
}
.slider-products-bg .texto-slider h2 {
  text-transform: uppercase;
}

.products {
  max-width: 960px;
  margin: 50px auto 90px auto;
}
.products h1{
  margin: 0 auto 45px auto;
  text-align: center;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: .50px;
  text-transform: uppercase;
  font-weight: 600;
  color: #006aa6;
}
.products-cards {
  display: flex;
  flex-wrap: wrap;
}
.product {
  margin: 0 10px;
}
.img-product{
  flex: 1 1 280px;
}
.img-product:not(.img-product.paper) {
  border: 1px solid #D9E0E6;
}
.texto-product {
  background-color: #FFF;
  border: 1px solid #D9E0E6;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.texto-product span:first-child{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: .50px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 142px;
}
.texto-product span:last-child{
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #006aa6;
}

.features {
  margin: 90px 0 40px 0;
  background-color: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
}

.features-conteudo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 50px 10px;
}
.item {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.item img{
  margin-right: 15px;
}
.item p{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .50px;
  max-width: 280px;
}
.item:last-of-type{
  margin-bottom: 0;
}
.item::after {
  display: block;
  content: '';
  width: 80%;
  height: 1px;
  margin: 15px auto;
  background-color: #D9E0E6;
}
.item.last::after{
  margin-bottom: 0;
}
.features-texto h1 {
  font-size: 30px;
  line-height: 34px;
  letter-spacing: .50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #006aa6;
  max-width: 252px;
}
.features-texto p {
  font-size:16px;
  line-height: 24px;
  font-weight: 300;
  color: #484B4D;
  max-width: 340px;
  margin-top: 15px;
}

@media (max-width: 930px) {
  .products {
    margin: 40px auto 50px auto;
  }
  .products h1{
    margin: 0 auto 20px auto;
  }
  .img-product{
    flex: 1;
  }
  .products-cards {
    justify-content: center;
  }
  .product:not(.product:last-of-type) {
    margin-bottom: 20px;
  }
  .features {
    margin: 40px 0;
  }
}

@media (max-width: 695px) {
  .features-texto h1 {
   margin-top: 35px;
  }
  .item::after {
    width: 100%;
  }
}