@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?vies56");
  src: url("fonts/icomoon.eot?vies56#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?vies56") format("truetype"),
    url("fonts/icomoon.woff?vies56") format("woff"),
    url("fonts/icomoon.svg?vies56#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banknote:before {
  content: "\e900";
}
.icon-certified:before {
  content: "\e904";
}
.icon-paper:before {
  content: "\e918";
}
.icon-people:before {
  content: "\e919";
}
.icon-quote:before {
  content: "\e91a";
  color: #00a6cf;
}

body {
  background-color: #f1f1f1;
  color: #484b4d;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #484b4d;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #00a6cf;
}

img {
  display: block;
  max-width: 100%;
}

.btn-transparente {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.87em;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 2px solid #00a6cf;
  padding: 5px 30px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-transparente:hover {
  background-color: #00a6cf;
  color: #000;
  border-color: #000;
}

.btn {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.87em;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #00a6cf;
  border: none;
  border-bottom: 2px solid #006aa6;
  padding: 7px 50px;
}
.btn:hover {
  background-color: #000;
  border-color: #00a6cf;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
}
.header-logo {
  margin: 0 10px;
}
.header-menu ul {
  display: flex;
  flex-wrap: wrap;
}
.header-menu ul a {
  font-size: 1.25em;
  display: block;
  margin: 0 10px;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.header-menu ul a.ativo,
.header-menu ul a:hover {
  border-bottom: 2px solid #00a6cf;
}

.slider-bg {
  background: url("../img/bg-header.png") center no-repeat;
  background-size: cover;
  height: 389px;
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  height: 389px;
}

.texto-slider {
  flex: 0 1 400px;
  margin: 0 10px;
}
.texto-slider h2 {
  font-size: 2.5em;
  color: #fff;
  font-weight: 500;
}
.texto-slider p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  margin: 10px 0 25px 0;
}

.index-about-bg {
  background-color: #fff;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
  position: relative;
}

.index-about {
  max-width: 960px;
  margin: 65px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.index-titulo {
  flex: 1 1 960px;
}
.index-about h1,
.index-products h1 {
  text-align: center;
  font-size: 1.87em;
  letter-spacing: 0.5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #006aa6;
  margin-bottom: 20px;
}
.index-about h1::after,
.index-products h1::after {
  content: "";
  display: block;
  background: url("../img/divisoria-titulo.png") center no-repeat;
  width: 170px;
  height: 16px;
  margin: 2px auto;
}
.index-about-esquerda {
  flex-direction: column;
}
.index-about-direita {
  flex-direction: column;
}
.index-about-frase {
  flex: 1;
  width: 300px;
  min-width: 100px;
  margin: 0 10px 20px 10px;
}
.index-about-frase h3 {
  font-size: 1.25em;
  font-weight: 500;
  color: #006aa6;
}

.index-about-frase h3::before {
  display: inline-block;
  font-size: 22px;
  font-family: "icomoon" !important;
  font-weight: 700;
  margin-right: 13px;
  color: #000;
}

.index-about-esquerda .index-about-frase:nth-of-type(1) h3::before {
  content: "\e919";
}
.index-about-esquerda .index-about-frase:nth-of-type(2) h3::before {
  content: "\e918";
}
.index-about-direita .index-about-frase:nth-of-type(1) h3::before {
  content: "\e904";
}
.index-about-direita .index-about-frase:nth-of-type(2) h3::before {
  content: "\e900";
}

.index-about-frase p {
  font-size: 1em;
  font-weight: 300;
  margin: 10px 0;
}

.index-about-btn .btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.index-about-img {
  background-color: #006aa6;
  height: 220px;
  width: 220px;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px #a9aeb3;
  margin: 0 30px 20px 30px;
}

@media (max-width: 960px) {
  .index-about-img {
    display: none;
  }
}

.index-products {
  max-width: 960px;
  margin: 60px auto;
}

.index-products-conteudo {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 10px;
}

.index-products-img {
  position: relative;
  flex: 0 1 460px;
  margin-right: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-bottom: 2px solid #00a6cf;
}

.products-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 24px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.products-hover p::before {
  content: "";
  display: block;
  background: url("../img/divisoria-produto.png") center no-repeat;
  margin: 5px auto;
  width: 288px;
  height: 16px;
}
.products-hover p::after {
  content: "";
  display: block;
  background-color: #fff;
  margin: 10px auto;
  width: 288px;
  height: 2px;
  opacity: 0.5;
}
.products-hover p {
  max-width: 346px;
}
.products-hover span {
  font-weight: bold;
  margin-top: 25px;
  letter-spacing: 0.5px;
}

.index-products-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.index-products-img:hover:after {
  opacity: 1;
}

.index-products-desc {
  position: relative;
  flex: 0 1 460px;
  background: url("../img/quote.svg") right top no-repeat;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 40px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px #a9aeb38f;
}

.index-products-desc p {
  font-size: 1em;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 1px;
}

.index-products .btn {
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 960px) {
  .index-products-img {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.index-gallery {
  display: flex;
  margin-bottom: 60px;
}
.img-gallery {
  flex: 1 1 260px;
  position: relative;
}
.texto-gallery {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.62em;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 999;
}
.texto-gallery::after {
  content: "";
  display: block;
  width: 117px;
  height: 1px;
  background-color: #fff;
  margin-top: 10px;
}
.img-gallery img {
  min-height: 100%;
}
.img-gallery:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.img-gallery:hover:after {
  opacity: 1;
}
.img-gallery:hover .texto-gallery {
  display: flex;
}

.index-clientes-bg {
  background-color: #FFF;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.13);
  margin-bottom: 90px;
}

.index-clientes {
  max-width: 960px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 70px 0;
}

.index-desc-clientes {
  max-width: 345px;
}

.index-desc-clientes h1{
  color: #006aa6;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: .50px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 311px;
}

.index-desc-clientes h1 b{
  color: #00a6cf;
  font-weight: bold;
}

.index-desc-clientes p{
  margin: 20px 0;
  font-weight: 300;
  line-height: 20px;
  color: #484B4D;
}

.index-desc-clientes .btn-transparente{
  color: #000;
}

.index-quotes-clientes {
  display: flex;
  flex-direction: column;
  max-width: 450px;
}

.index-quotes-clientes div{
  display: flex;
  align-items: center;
}

.divisoria-clientes {
  content: '';
  align-self: flex-end;
  background: url("../img/divisoria-clientes.png") center no-repeat;
  width: 296px;
  height: 16px;
  margin: 15px 10px 10px 0;
}

.index-quotes-clientes div img{
  margin-right: 30px;
  align-self: flex-start;
}

.index-quotes-clientes div p{
  font-size: 14px;
  line-height: 20px;
  color: #484B4D;
}

.index-quotes-clientes div cite{
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 794px) {
  .index-clientes {
    padding: 40px 80px;
    text-align: center;
    margin: 0 auto;
  }
  .index-desc-clientes {
    max-width: none;
    margin: 0 10px 30px 10px;
  }
  .index-desc-clientes h1{
    max-width: none;
  }
  .index-quotes-clientes {
    text-align: start;
    max-width: none;
    margin: 0 10px;
  }
  .index-quotes-clientes div p, .index-quotes-clientes div cite{
    font-size: 16px;
  }
  .divisoria-clientes {
    background: none;
    background-color: #D9E0E6;
    height: 1px;
    width: 74%;
    align-self: flex-end;
    margin: 20px 0;
  }
}

@media (max-width: 550px) {
  .index-clientes {
    padding: 40px;
  }
  .divisoria-clientes {
    width: 68%;
  }
}

@media (max-width: 415px) {
  .index-clientes {
    padding: 20px;
  }
  .divisoria-clientes {
    width: 60%;
  }
  .index-quotes-clientes div p{
    max-height: 160px;
    overflow: auto;
  }
}